@import "tailwindcss";

body {
        font-family: var(--font-jakarta), sans-serif;
    }

@theme {
            --font-jakarta: var(--font-jakarta);
            --font-italianno: var(--font-italianno);
    }

::-webkit-scrollbar {
    display: none;
}

* {
    scrollbar-width: none;
    -ms-overflow-style: none;
}