@import "tailwindcss";

body {
        font-family: var(--font-jakarta), sans-serif;
    }

@theme {
            --font-jakarta: var(--font-jakarta);
            --font-allura: var(--font-italianno);
    }