@import "tailwindcss";


body {
    font-family: var(--font-jakarta), sans-serif;
}

@theme {
    --font-jakarta: var(--font-jakarta);
    --font-italianno: var(--font-italianno);
}

html {
    scroll-behavior: smooth;
}

@keyframes floatUp {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-6px);
    }
}

.animate-float-up {
    animation: floatUp 1.8s ease-in-out infinite;
}